@font-face {
  font-family: "Roboto-Black";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}

.font-roboto-black {
  font-family: "Roboto-Black";
}
// 
.font-roboto-bold {
  font-family: "Roboto-Bold";
}
// 
.font-roboto-light {
  font-family: "Roboto-Light";
}
// 
.font-roboto-medium {
  font-family: "Roboto-Medium";
}
// 
.font-roboto-regular {
  font-family: "Roboto-Regular";
}
// 
.font-roboto-thin {
  font-family: "Roboto-Thin";
}
// stop fonts***************

p {
     margin: 0;
     padding: 0;
}
h1,h2,h3,h4,h5,h6 {
     padding: 0;
     margin: 0;
}

// *********colors************

$navbar-link: #222;
$yellow: #f6b60b;

// *********colors***************

body {
     .main-navbar {
          padding-top: 20px;
          @media(max-width: 768px) {
               padding-bottom: 20px;
          }
          .display {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
               @media (max-width: 768px) {
                    display: block;
                    flex-wrap: unset;
                    justify-content: unset;
               }
               .icon {
                    font-size: 25px;
               }
               button {
                    border: none;
                    background: none;
                    
               }
               .links-container {
                    @media (max-width: 768px) {
                    transition: all 0.3s ease;
                    height: 0;
                    overflow: hidden;
                    }
                    
                    .nav-ul {
                   display: flex;
                   flex-wrap: wrap;
                   margin-top: 3px;
                   @media(max-width: 768px) {
                        display: block;
                        flex-wrap: unset;
                        margin-left: 0;
                        padding-left: 0;
                   }
                   .nav-item {
                        list-style: none;
                        .nav-link {
                         color: $navbar-link;
                         font-size: 16px;
                         padding-left: 30px;
                         position: relative;
                         transition: all 0.3s ease;
                         @media (max-width: 992px) {
                              padding-left: 11px;
                         }
                         @media (max-width: 768px) {
                              padding-left: 0;
                              width: 90px;
                         }
                         
                         &:hover {
                              color: $yellow;
                         }
                         &:after {
                              content: "";
                              width: 0;
                              height: 2px;
                              background-color: $yellow;
                              transition: all 0.3s linear;
                              position: absolute;
                              left: 0;
                              bottom: 0;
                              bottom: 0;
                              margin: auto;
                              border-top-right-radius: 6px;
                              border-bottom-right-radius: 6px;
                         }
                         &:hover {
                         
                              &:after {
                                   width: 100%;
                              }
                         }

                        }
                        .search {
                             color: $navbar-link;
                             transition: all 0.3s ease;
                             font-size: 15px;
                             margin-left: 10px;
                             &:hover {
                                  color: $yellow;
                             }
                        }
                   }
                  
                    }
               }
               .show-container {
                    @media (max-width: 768px) {
                    height: 10rem;
                    overflow-y: auto;

                    }
               }
          }
         
          
         
     }
     // stop navbar and its responsive
}