@font-face {
  font-family: "Roboto-Black";
  src: url("../font/Roboto-Black.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto-Bold.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto-Light.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Medium";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}
// 
@font-face {
  font-family: "Roboto-Thin";
  src: url("../font/Roboto-Thin.ttf") format("truetype");
}

.font-roboto-black {
  font-family: "Roboto-Black";
}
// 
.font-roboto-bold {
  font-family: "Roboto-Bold";
}
// 
.font-roboto-light {
  font-family: "Roboto-Light";
}
// 
.font-roboto-medium {
  font-family: "Roboto-Medium";
}
// 
.font-roboto-regular {
  font-family: "Roboto-Regular";
}
// 
.font-roboto-thin {
  font-family: "Roboto-Thin";
}
// stop fonts***************

p {
     margin: 0;
     padding: 0;
}
h1,h2,h3,h4,h5,h6 {
     padding: 0;
     margin: 0;
}

// *********colors************

$navbar-link: #222;
$yellow: #f6b60b;
$color-seriy: #555;
$white: #fff;

// *********colors***************

body {
     margin-bottom: 200px;
     .main-navbar {
          padding-top: 20px;
          position: sticky;
          top: 0;
          left: 0;
          right: 0;
          width: 100%;
          z-index: 99;
          @media(max-width: 768px) {
               padding-bottom: 20px;
          }
          .display {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;
               @media (max-width: 768px) {
                    display: block;
                    flex-wrap: unset;
                    justify-content: unset;
               }
               .icon {
                    font-size: 25px;
               }
               button {
                    border: none;
                    background: none;
                    
               }
               .links-container {
                    @media (max-width: 768px) {
                    transition: all 0.3s ease;
                    height: 0;
                    overflow: hidden;
                    }
                    
                    .nav-ul {
                   display: flex;
                   flex-wrap: wrap;
                   margin-top: 3px;
                   @media(max-width: 768px) {
                        display: block;
                        flex-wrap: unset;
                        margin-left: 0;
                        padding-left: 0;
                   }
                   .nav-item {
                        list-style: none;
                        .nav-link {
                         color: $navbar-link;
                         font-size: 16px;
                         padding-left: 30px;
                         position: relative;
                         transition: all 0.3s ease;
                         @media (max-width: 992px) {
                              padding-left: 11px;
                         }
                         @media (max-width: 768px) {
                              padding-left: 0;
                              width: 90px;
                         }
                         
                         &:hover {
                              color: $yellow;
                         }
                         &:after {
                              content: "";
                              width: 0;
                              height: 2px;
                              background-color: $yellow;
                              transition: all 0.3s linear;
                              position: absolute;
                              left: 0;
                              bottom: 0;
                              bottom: 0;
                              margin: auto;
                              border-top-right-radius: 6px;
                              border-bottom-right-radius: 6px;
                         }
                         &:hover {
                         
                              &:after {
                                   width: 100%;
                              }
                         }

                        }
                        .search {
                             color: $navbar-link;
                             transition: all 0.3s ease;
                             font-size: 15px;
                             margin-left: 10px;
                             &:hover {
                                  color: $yellow;
                             }
                        }
                   }
                  
                    }
               }
               .show-container {
                    @media (max-width: 768px) {
                    height: 10rem;
                    overflow-y: auto;

                    }
               }
          }
         
          
         
     }
     // stop navbar and its responsive
     main {
       .showcase {
          background-image: url("../images/slider-2.jpg.webp");
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 700px;
          padding-top: 100px;
          h5 {
               font-size: 24px;
               color: $yellow;
          }
          h6 {
               font-size: 30px;
          }
          p {
               font-size: 14px;


          }
          a {
               font-size: 18px;
               color: $navbar-link;
               background-color: $yellow;
               padding: 17px 27px 17px 27px;
               transition: all 0.3s ease;
               &:hover {
                    background-color: #fff;
               }
          }
        } 
     //    stop showcase
     .icons-part {
          background: #f5f5f5;
          padding-top: 70px;
          padding-bottom: 70px;
          .card {
               background: #f5f5f5;
               span {
               font-size: 48px;
               color: $yellow;
          }
          .card-body {
               padding-left: 0;
               padding-right: 0;
          h6 {
               font-size: 18px;
               color: $navbar-link;
          }
          p {
               font-size: 14px;
               color: $color-seriy;
          }
          }
          
          }
     }
     // stop icons part
     .multi-sentences {
          h5 {
               font-size: 24px;
               color: $navbar-link;
               padding-bottom: 70px;
               position: relative;
               &.offer {
                    position: relative;
                    &::after {
                   
                    background-color: $white;
                    

                    }
               }
               &.white {
                    color: $white;
               }
               &::after {
                    content: "";
                    width: 60px;
                    height: 5px;
                    background-color: $yellow;
                    position: absolute;
                    top: 55%;
                    left: 47%;

               }
          }
          p {
               color: $color-seriy;
               font-size: 14px;
               &.white {
                    color: $white;
               }
          }
     }
     .about {
          margin-top: 80px;
          margin-bottom: 40px;
          .card {
              
               .card-body {
                    h1 {
                         font-size: 36px;
                         color: $navbar-link;
                         position: relative;
                         &::after {
                              content: "";
                              position: absolute;
                              height: 2px;
                              width: 80px;
                              background: #222222;
                              left: 0;
                              bottom: -22px;
                         }
                    }
                    p {
                         margin-top: 50px;
                         font-size: 14px;
                         color: $color-seriy;
                         line-height: 26px;
                         margin-bottom: 30px;
                    }

               }
               .card-footer {
                    a {
                         color: $navbar-link;
                         background-color: $yellow;
                         font-size: 18px;
                         padding: 17px 27px 17px 27px;
                         transition: all 0.3s ease;
                         border-radius: 3px;
                         &:hover {
                              color: #fff;
                              background-color: $navbar-link;

                         }
                    }
               }
          }
     }
     //******* stop about************
          .slider {
          background-color: $yellow;
          padding-top: 70px;
          padding-bottom: 70px;
          margin-top: 40px;
          .card {
               .card-body {
                    
                    span {
                         font-size: 35px;
                         background-color: #333;
                         color: $white;
                         padding: 4px 13px 12px 13px;
                         transition: all 0.3s ease;
                         
                         border-radius: 5px;
                    }
                    h1 {
                         font-size: 18px;
                         color: #222;
                         transition: all 0.3s ease;
                         padding-top: 20px;
                         margin-top: 10px;
                    }
                    p {
                         color: #555;
                         font-size: 14px;
                         line-height: 26px;
                         padding-top: 20px;
                         button {
                              color: $yellow;
                              font-size: 18px;
                              background-color: unset !important;
                              border: none;
                              outline: none;
                         }
                    }
               }
               &:hover h1 {
                    color: $yellow;
                    
               }
               &:hover span {
                    transform: scale(1.1);
               }
          }
     }
     // stop slider****
     .features {
          margin-top: 80px;
          margin-bottom: 60px;
          .right-side {
               h2 {
                    color: $navbar-link;
                    font-size: 36px;
                    position: relative;
                    margin-bottom: 20px;
                    
                    &:after {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 80px;
                    background: #222222;
                    left: 0;
                    bottom: -22px;

                    }
               }
               p {
                    font-size: 14px;
                    padding-top: 22px;
                    color: $color-seriy;
               }
               .card {
                    margin-top: 25px;
                    .card-body {
                         padding-left: 0 !important;
                         a {
                              font-size: 24px;
                              color: #f6b60b;
                              line-height: 50px;
                              padding: 8px 14px 8px 14px;
                              text-align: center;
                              background: #333333;
                              border: 5px solid #f6b60b;
                              margin-right: 30px;
                         }
                         h3 {
                              font-size: 18px;
                              color: $navbar-link;
                         }
                         p {
                              padding-top: 20px;
                              color: $color-seriy;
                              font-size: 14px;
                         }
                    }
               }
          }
     }
     // stop  features
     .tab-menu {
          background: #2e3841;
          padding-bottom: 80px;
          padding-top: 80px;
          button {
                         color: $white;
                         font-size: 15px;
                         padding-left: 30px;
                         position: relative;
                         border: none;
                         background-color: unset !important;
                         margin-bottom: 30px;
                         font-size: 14px;
                         &:after {
                              content: "";
                              height: 2px;
                              width: 0;
                              background-color: $yellow;
                              transition: all 0.3s ease;
                              position: absolute;
                              left: 0;
                              right: 0;
                              bottom: 0;
                              margin: auto;
                              border-top-right-radius: 6px;
                              border-bottom-right-radius: 6px;
                         }
                         &:hover, &.active {
                              color: $yellow;
                              &:after {
                                   width: 100%;
                              }
                         }

                    }
          .main-img {
               position: relative;
               cursor: pointer;
          }
          .const {
               position: absolute !important;
               top: 0;
               left: 0;
               bottom: 0;
               right: 0;
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               overflow: hidden;
               h1 {
               background-color: $yellow;
               color: $white;
               padding: 50px 30px;
               opacity: 0.7;
               }
          }
          
     }
     // stop tab menu
     .constructor {
          margin-top: 80px;
          margin-bottom: 70px;
          .card {
               .card-body {
                    background-color: $yellow !important;
                    a {
                         color: $white;
                         font-size: 20px;
                         
                    }
                    h4 {
                         font-size: 16px;
                         color: $white;

                    }
                    .social-media {
                         position: absolute;
                         bottom: 19%;
                         left: 0;
                         right: 0;   
                         display: flex;
                         align-items: center;
                         text-align: center;
                         justify-content: center;
                         background-color: $yellow;
                         transform: translateY(-68px);
                         z-index: -3;
                         transition: all 0.4s ease;
                         // overflow: hidden;
                         padding-top: 14px;
                         padding-bottom: 14px;

                         a {
                         color: $white;
                         font-size: 14px;
                         transition: all 0.4s ease;
                         border: 1px solid $white;
                         border-radius: 50%;
                         padding: 9px 14px;
                         margin-right: 10px;
                         text-align: center;
                         &:hover {
                              color: $yellow;
                              background-color: $white;
                         }
                         }
                    }
               }
                &:hover .social-media {
                     z-index: 1;
                     transform: translateY(0);
                }
          }
     }
     // stop constructor
     .achievement {
          background-image: url("../images/achievments_bg.jpg.webp");
          width: 100%;
          min-height: 500px;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          padding-top: 60px;
          padding-bottom: 50px;
          .absolute {
               position: absolute;
               top: 0;
               background-color: rgba(0, 0, 0, 0.8);
               left: 0;
               right: 0;
               bottom: 0;
          }
          .card {
               background-color: unset !important;
               border-right: 3px solid $white !important;
               margin-top: 45px;
               .card-body {
                    span {
                         color: $white;
                         font-size: 30px;
                    }
                    h1 {
                         color: $yellow;
                         font-size: 40px;
                         display: block;
                         padding-top: 23px;
                         padding-bottom: 20px;
                    }
                    h2 {
                         font-size: 14px;
                         color: $white;
                    }
               }
          }

     }
     // stop achievement
     .testimonial {
          margin-top: 70px;
          margin-bottom: 70px;
          background-image: url("../images/portfolio.webp");
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          min-height: 400px;
          position: relative;
          padding-top: 70px;
          padding-bottom: 70px;
          .absolute {
               position: absolute;
               top: 0;
               right: 0;
               bottom: 0;
               left: 0;
               background-color: rgba(0, 0, 0, 0.9);
          }
          .overlay {
               position: relative;
               padding-left: 0 !important;
               padding-right: 0 !important;
               .effect {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                    background-color: $yellow;
                    opacity: 0;
                    transform: rotate(0) scale(0);
                    transition: all 0.4s ease;
                    h6 {
                         color: $white;
                         font-size: 25px;
                    }
               }
               &:hover .effect {
                    transform: rotate(360deg) scale(1);
                    opacity: 0.7;
               }
          }

     }
     // stop testimonial*********

     }
}